{% extends 'admin/index.html' %}

{% block content %}
	{{ block.super }}
    {% if remaining_export_base %}
    <div class="col-lg-9 col-12">

        <div class="card">
            <div class="card-header">
                <h5 class="m-0">Панель управления парсером</h5>
            </div>
            <div class="card-body">
                <div style="padding-bottom: 1rem" class="col">
                    <b>Осталось запросов к ExportBase - {{ remaining_export_base }}</b>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{ form_create.as_p }}
                    <input class="btn btn-success" type="submit" value="Добавить в обработку">
                    <a href="/update_filters/" class="btn btn-outline-success" style="margin-left: 20%">Обновить фильтры</a>
                </form>

        </div>
    </div>
    {% endif %}
    {% if res %}
        {{ res }}
    {% endif %}
    {% if tasks %}
        <div class="card">
            <div class="card-header">
                <h5 class="m-0">Задачи в работе</h5>
            </div>
            <div class="card-body">
                {% for task in tasks %}
                    <div class="container">
                        <div class="row border rounded p-2">
                            <div class="col-3" style="text-align: center; margin: auto"><h5>{{ task.name }}</h5></div>
                            <div class="col"> Сканирование проводится каждые {{ task.interval }} минут(-ы) <br>
                                В обработку попадают дела начиная с {{ task.time_delta }}</div>
                            <div class="col" style="margin: auto; display: flex;
                                                      align-items: center;
                                                      justify-content: center;">
                                <a href="/delete_task?id={{ task.task_id }}" class="btn btn-danger">Удалить</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    </div>
{% endblock %}
